@import url("https://fonts.googleapis.com/css2?family=Story+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
body {
  font-family: Arial, sans-serif;
  background: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-family: "Story Script", sans-serif;
  text-align: left;
  font-size: 50px;
}

p {
  font-family: "Story Script", sans-serif;
  border-style: solid;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 5px;
  font-size: larger;
}

img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  float: right;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
}

.play-btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: x-large;
  margin: 15px 0;
  box-shadow: 2px 2px 3px rgb(173, 145, 112);
  border: 0px;
  font-family: "Story Script", sans-serif;
}
